body {
  font-family: Short Stack;
  }.header {
  background-color: coral;
  text-align: center;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,127,80);
    overflow-x: hidden;
    padding-top: 300px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px;
    font-size: 18px;
    padding: 0px 10px;
    padding-top: 50px;
    padding-left: 50px
    }
